{% extends "baseX.html" %}
{% block content %}
<h1>My messages</h1>

<br>
<a href="{{base_path}}/newmessage" class="btn btn-primary">New message</a>
<br>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>From</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for message in messages %}
        <tr>
            <td><a href="{{base_path}}/viewmessage/{{message.message_id}}">{{message.title}}</td>
            <td>{{message.sender}}</td>
            <td><form method="post" action="{{base_path}}/messages/{{message.message_id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form></td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock %}