{% extends "baseX.html" %}
{% block content %}
<h1>My messages</h1>

<br>
<button class="btn btn-primary">New message</button>
<br>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Topic</th>
            <th>From</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for message in messages %}
        <tr>
            <td><a href="{{base_path}}/viewmessage/{{message.message_id}}">{{message.title}}</td>
            <td>{{message.sender}}</td>
            <td>{{message.time}}</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock %}