{% extends "suunnitelmat/baseX.html" %}
{% block content %}
  <h1>Meet friends!</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Looking for</th>
        <th>Last seen</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>ttk91 (linkki esittelysivulle)</td>
        <td>25</td>
        <td>Male</td>
        <td>bff</td>
        <td>9.12.2014</td>
      </tr>
    </tbody>
  </table>
{% endblock %}