{% extends "suunnitelmat/baseX.html" %}
{% block content %}
  <h1>Muokkaa peliä The Elders Scrolls V: Skyrim</h1>

  <form>
    <div class="form-group">
      <label>Send to</label>
      <input class="form-control" value="ttk91" type="text">
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control">   plää
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
{% endblock %}
