{% extends "baseX.html" %}
{% block content %}
<h1>Meet friends!</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Looking for</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/browse/{{user.customer_id}}">{{user.username}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.country}}</td>
            <td>{{user.lf_type}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}