{% extends "baseX.html" %}
{% block content %}
<h1>Find your new friend!</h1>

{% if msg != '' %}
<div class="alert alert-danger">
  {{msg}}
</div>
{% endif %}

<p>Click usernames to browse the user's introduction pages</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Looking for</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}
        <tr>
            {% if user.customer_id != user_logged_in.customer_id %}
            <td><a href="{{base_path}}/browse/{{user.customer_id}}">{{user.username}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.country}}</td>
            <td>{{user.lf_type}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}